<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join/Create Room</title>

    <script>
        var currentUserId="<%=currentUser._id%>"
        var currentHandlename="<%=currentUser.handlename%>"
        
    </script>
<script src="/socket.io/socket.io.js" ></script>

<script>
    var socket=io()
    function play(){
        document.getElementById('chatAudio').play()
    }
    socket.on('connect',function(){
        socket.emit('store-socket-id-in-db',currentUserId)
    })

    socket.on('friend-request-alert',function(handlename){
    play();
    alert('You recived a friend request from '+handlename); 
    })

    socket.on('friend-request-accepted-alert',function(handlename){
    play();
    alert(handlename+' accepted your friend request');      
    })

    socket.on('recieving-call',function(userHandlename,currentHandlename,callId){
        setTimeout(function(){var answer=confirm(currentHandlename+" is calling you. \n Click OK to answer or Click Cancel to decline")
        if(answer){
            window.open("/call/"+callId+"/?recievingUser="+userHandlename+"&callingUser="+currentHandlename)
        }else{
            socket.emit('decline-call',callId)
        }
    }, 1500); 
    })

</script>


</head>
<body>
    <audio id="chatAudio" >
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190531135120/beep.mp3" type="audio/mpeg">
    </audio>
    Join a Room by room Id
    <form>
        <input type="text" placeholder="Room Id">
    </form>
    <br>
    <a href="/room">Create a new Video Chat Room</a>
</body>
</html>